.clearfix {
    clear: both;
}
.container {
    background-image: url(../img/background.png);
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}
.header {
    color: white;
    width: 1080px;
    margin: 0 auto;
    padding-top: 50px;
}
a {
    color: white;
    text-decoration: none;
}
.logo {
    width: 20%;
    float: left;
}
.logofoto {
    float: left;
    background-image: url(../img/logo.png);
    width: 44px;
    height: 44px;
    margin-right: 5px;
}
.logo:hover .logofoto{
    background: url(../img/logoorange.png);
}
.logo:hover a {
    color: #f26522;
}
.contact {
    float: right;
    text-align: right;
    letter-spacing: 2px;
    line-height: 1.5;
}
.title {
    color: white;
    margin: 30px;
    letter-spacing: 1px;
}
.foto {
    float: left;
    width: calc(100%/3);
    text-align: center;
    position: relative;
}
.block {
    opacity: 0;
    width: 310px;
    margin-left: 25px;
    color: white;
    background-color: #f26522;
    position: absolute;
    bottom: 80px;
}
.foto:hover .block {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}
.foto:hover a {
    color: #f26522;
}
.section {
    width: 1080px;
    margin: 0 auto;
    margin-top: 35px;
}
.footer {
    width: 1080px;
    margin: 0 auto;
    font-size: 12px;
    padding-top: 25px;
    color: white;
    text-align: center;
}
h1 {
    font-size: 32px;
}
.word {
    display: block;
    font-size: 14px; 
}
.euro {
    float: left;
    margin: 10px;
    text-align: left;
    line-height: 20px;
}
.price {
    float: right;
    font-size: 14px;
    margin-top: 35px;
    margin-right: 20px;
}
.from {
    font-size: 10px;
    font-weight: 400;
}
.currency {
    font-size: 20px;
}
.linear {
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, whitesmoke 0%, black 100%);
    -webkit-border-image: -webkit-linear-gradient(top, whitesmoke 0%, black 100%);
    border-image: linear-gradient(to bottom, whitesmoke 0%, black 100%);
    border-image-slice: 1;
    cursor: pointer;
}